nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0 1rem 0;
  border: 1px solid black;
  border-radius: 1rem 1rem;
  margin: 1rem;
  background-color: darkgoldenrod;
}

nav > * {
  color: black;
  text-decoration: none;
}

.title {
  padding: 1rem 1rem 0 1rem;
}

.paragraph {
  padding: 1rem;
  text-align: justify;
}
